.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
  gap: 76px;
}

.page-navigation {
  display: flex;
  align-items: center;
}

.logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  color: #2e2f42;
}

.navigation-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navigation-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.navigation-link:hover,
.navigation-link:focus {
  color: #404bbf;
}

.contact-information {
  margin-left: auto;
  font-style: normal;
}

.contact-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.contact-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}
